h1 {
    text-align: center;
    font-weight: bolder;
    margin: 15px;
}
h2,h3 {
    font-weight: bolder;
    margin: 7px;
}
ul li {
        margin: 4px;
        color:linen;
}
article
{
    color: rgb(66, 11, 11); 
}

ol li {
    color: rgb(253, 253, 253);
    margin: 4px;
}
* {
    background-color: lightskyblue;
    
}
#contact {
    float: inline-end; 
    color:white;
}
article p {
      color:white;

}